header nav {
  display: flex;
  margin: 2rem 0;
  height: 2rem;
  flex-grow: 0;
  justify-content: space-between;
  background-color: darkgrey;
  padding: 0.6rem;
}
header nav img {
  flex: 1;
  transform: translate(5%, -33%);
  height: fit-content;
}
header nav .buttonBox {
  flex: 9;
  display: flex;
  justify-content: flex-end;
}
header nav .buttonBox button {
  padding: 0.5em 1em;
  margin-left: 1rem;
  background: #26a697;
  border-width: 1px;
  border-color: #26a697;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.5s, box-shadow 0.5s;
  outline: none;
}
header nav .buttonBox button:hover {
  background-color: #31d1be;
  box-shadow: 0 0 5px #292929;
}
header nav .buttonBox #usersettings {
  position: relative;
}
header nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2rem;
  border-radius: 3px;
}
header nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #31d1be;
  cursor: pointer;
}
header nav .dropdown-content a:hover {
  background-color: #28b1a1;
}
header nav .show {
  display: block;
}
