.hiddenHeader {
  display: none;
}
#loginSite {
  font: inherit;
  font-size: 16px;
  line-height: 1;
  justify-content: space-around;
}
#loginSite .login {
  min-height: 95vh;
  margin-bottom: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  place-content: stretch center;
  overflow: visible;
}
#loginSite .login .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
#loginSite .login .image img {
  height: 32px;
  width: 32px;
}
#loginSite .login .login-section {
  max-width: 350px;
  position: relative;
  width: initial;
  opacity: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  place-content: stretch flex-start;
  overflow: visible;
  flex-grow: 1;
  width: 100%;
}
#loginSite .login h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #333333;
  margin-bottom: 24px;
}
#loginSite .login label {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
}
#loginSite .login input {
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  padding: 18.5px 14px;
  margin-bottom: 16px;
  border: 1px solid grey;
}
#loginSite .login #passwordForget {
  margin-bottom: 16px;
}
#loginSite .login a {
  text-decoration: none;
  margin-bottom: 16px;
}
#loginSite .login button {
  background-color: #21a696;
  color: #fff;
  width: 100%;
  height: 48px;
  font-weight: bold;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.75;
  border-radius: 4px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  margin-bottom: 16px;
}
#loginSite .login button:hover {
  background-color: #177469;
}
#loginSite .picture {
  max-width: 50%;
  background: url(images/tennis-img.jpg);
  background-size: cover;
  background-position: center center;
  max-height: 100vh;
}
