@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body{
    font-family: 'Balsamiq Sans', cursive;
}

.image{
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}



.login{
    width: 20rem;
    display: flex;
    justify-content: center;
}

.login-section{
    width: 100%;
}

input{
    width: 100%;
    height: 2rem;
}