body {
    margin-left: 25%;
    margin-right: 25%;
    h2 {
        margin: 5px inherit;
        text-align: center;
    }
    h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    form {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid gray;
        label {
            font-weight: 500;
        }
        input, select {
            border: 1px solid rgb(204, 204, 204);
            border-radius: 5px;
        }
        input:not(:last-of-type), select {
            margin-top: 0.3rem;
            margin-bottom: 1rem;
            padding: 0.5rem;
            width: 100%;
        }
        input:last-of-type {
            padding: 0.7rem;
        }
    }
}