#settingCSS {
    margin-left: 25%;
    margin-right: 25%;
    h2 {
        margin: 5px inherit;
        text-align: center;
    }
    h3 {
        font-size: 1.5rem;
        text-align: left;
    }
    p {
        font-size: 1rem;
    }
    form {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        label {
            font-weight: 500;
            font-size: 1rem;
        }
        input:not(:last-of-type), select {
            border: 1px solid #cccccc;
            border-radius: 5px;
        }
        input:not(:last-of-type), select {
            margin-top: 0.3rem;
            margin-bottom: 1rem;
            padding: 0.5rem;
            width: 100%;
        }
        select {
            width: 103%;
        }

        #pSaveChanges, #pChangePassword {
            border: none;
            font-size: 1.0rem;
            font-weight: bold;
            color: white;
            padding: 0.7rem;
            margin-top: 0.5rem;
            background-color:#1865f2;
            border-radius: 5px;
        }
        #pSaveChanges:hover, #pChangePassword:hover {
            cursor: pointer;
            box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1865f2
        }
    }
    #pDeleteAccount {
        font-size: 1.0rem;
        font-weight: bold;
        color: white;
        padding: 0.7rem;
        margin-top: 0.5rem;
        background-color: #d92916;
        border: 1px solid #cccccc;
        border-radius: 5px;
    }
    #pDeleteAccount:hover {
        box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #d92916

    }

    .deleteAccount {
        margin-bottom: 3rem;
    }

    .basics, .password, .role {
        border-bottom: 1px solid gray;
    }
}